{% extends "userbase.html" %}
{% block title %}Gerenciar Livro{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 fw-bold">{% if editar %}Editar livro{% else %}Adicionar Novo Livro{% endif %}</h2>
    <form method="post" enctype="multipart/form-data" class="p-4 border rounded shadow-sm bg-light">
        {% csrf_token %}
        {{ livro_form.as_p }}
        <button type="submit" class="btn btn-success mt-3">
            {% if editar %}Salvar Alterações{% else %}Salvar Livro{% endif %}
        </button>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Cancelar</a>
    </form>
</div>
{% endblock %}