{% extends 'userbase.html' %}
{% block content %}
  <div id="pagesContent">
    <div class="dashboard-card">
      <div class="card-header">
        <h5>Gerenciamento de Páginas</h5>
      </div>

      <div class="page-list">
        <div class="page-item">
          <div>
            <h6 class="mb-1">Página Inicial</h6>
            <p class="mb-0 small text-muted">/index.html - Página principal do site</p>
          </div>
          <div class="page-actions">
            <button class="btn btn-sm btn-outline-primary">Editar</button>
            <a href="{% url 'index' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
          </div>
        </div>

        <div class="page-item">
          <div>
            <h6 class="mb-1">Sobre Nós</h6>
            <p class="mb-0 small text-muted">/sobre.html - Informações sobre a empresa</p>
          </div>
          <div class="page-actions">
            <a class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="{% url 'sobre' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
          </div>
        </div>

        <div class="page-item">
          <div>
            <h6 class="mb-1">Pagina livro</h6>
            <p class="mb-0 small text-muted">/livro.html - Lista de serviços oferecidos</p>
          </div>
          <div class="page-actions">
            <a class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="{% url 'livro' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pagesContent">
    <div class="dashboard-card">
      <div class="card-header"></div>
      <h5>Gerenciamento do Livro</h5>
    </div>
  </div>
{% endblock %}
