{% extends 'userbase.html' %}
{% block content %}
  <div id="pagesContent">
    <div class="dashboard-card">
      <div class="card-header">
        <h5>Gerenciamento de Páginas</h5>
      </div>

      <div class="page-list">
        <div class="page-item">
          <div>
            <h6 class="mb-1">Página Inicial</h6>
            <p class="mb-0 small text-muted">/index.html - Página principal do site</p>
          </div>
          <div class="page-actions">
            <a href="{% url 'indexform' %}" class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="{% url 'index' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
          </div>
        </div>

        <div class="page-item">
          <div>
            <h6 class="mb-1">Sobre Nós</h6>
            <p class="mb-0 small text-muted">/sobre.html - Informações sobre o sistema</p>
          </div>
          <div class="page-actions">
            <a href="{% url 'sobreform' %}" class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="{% url 'sobre' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
          </div>
        </div>

        <div class="page-item">
          <div>
            <h6 class="mb-1">Pagina livro</h6>
            <p class="mb-0 small text-muted">/livro.html - Informações sobre o livro.</p>
          </div>
          <div class="page-actions">
            <a href="{% url 'livroform' %}" class="btn btn-sm btn-outline-primary">Editar</a>
            <a href="{% url 'livro' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pagesContent">
    <div class="dashboard-card">
      <h5>Gerenciamento do Livro</h5>
      <div class="card-header"></div>

      <div class="page-item">
        <div>
          <h6 class="mb-1">Informações do livro</h6>
          <p class="mb-0 small text-muted">Gerencie o livro cadrastrado, titulo, capa e sinopse</p>
        </div>
        <div class="page-actions">
          <a href="{% url 'gerenciar_livro' %}" class="btn btn-sm btn-outline-primary">Editar</a>
          <a href="{% url 'lerlivro' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
        </div>
      </div>

      <div class="page-item">
        <div>
          <h6 class="mb-1">Gerenciar Páginas paginas 3d</h6>
          <p class="mb-0 small text-muted">Acione as paginas com o número que aparecerão</p>
        </div>
        <div class="page-actions">
          <a href="{% url 'livro_paginas' %}" class="btn btn-sm btn-outline-primary">Editar</a>
          <a href="{% url 'lerlivro' %}" class="btn btn-sm btn-outline-success">Visualizar</a>
        </div>
      </div>

    {% include "partials/_paginaslivro.html" %}
    </div>
  </div>
{% endblock %}
