{% extends "base.html" %}

{% block title %}Deletar Livro{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4 fw-bold">Deletar Livro: {{ livro.titulo }}</h2>
    <p>Tem certeza que deseja deletar este livro? Esta ação não pode ser desfeita.</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="{% url 'gerenciar_livro' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
