{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles2.css' %}" />
    <title>{{ livro.titulo }}</title>
</head>

<body>
    <div id="rotate-notice">
        <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
            <img src="{% static 'imgs/turn.gif' %}" alt="" height="100" width="100" />
            <p>Vire seu celular para a horizontal para visualizar o livro melhor!</p>
        </div>
    </div>

    <div class="flipbook">
        <div class="hard"><img src="{{ livro.capa.url }}" alt=""></div>
        <div class="hard"></div>
        {% for pagina in paginas %}
            <div><img src="{{ pagina.pagina.url }}" alt="Página {{ pagina.numero_pagina }}" /></div>
        {% endfor %}

        
        <div class="hard"></div>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/turn.js' %}"></script>
    <script src="{% static 'js/flipbook.js' %}"></script>
</body>
</html>